<section>
  <h2>Register a User</h2>
  <input [(ngModel)]="userName" type="text" placeholder="User Name"/>
  <input [(ngModel)]="emailAddress" type="text" placeholder="Email Address"/>
  <input [(ngModel)]="password" type="text" placeholder="Password"/>
  <input (click)="handleUserRegister()" type="submit" value="Register"/>
</section>

<section>
<h2>Login a User</h2>
<input [(ngModel)]="emailAddress" type="text" placeholder="Email Address"/>
<input [(ngModel)]="password" type="text" placeholder="Password"/>
<input (click)="handleUserLogin()" type="submit" value="Login User"/>
</section>

<div *ngIf="this.token">
  CURRENT USER: {{this.emailAddress}}
  TOKEN: {{this.token}}
</div>

<button (click)="getCategories()">get All Categories</button>

<ul>
  <li *ngFor="let category of categories">
    {{category.name}} -- {{category.description}}
    <button (click)="deleteCategory(category)">delete</button>
  </li>
</ul>

<section>
  <h2>Add a category</h2>
  <input [(ngModel)]="name" type="text" placeholder="name"/>
  <input [(ngModel)]="description" type="text" placeholder="description"/>
  <input (click)="createCategory()" type="submit" value="Create Category"/>
</section>
